.track {
    /* background-color:  #F7B32B;
    border: 15px solid #c28720; */
    /* background-color: #e0f3e7; */
    background-color: #FDFFFC;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    color: rgb(46, 46, 46);
    width: 60%; 
    padding: 35px 0 40px 0;
    position: relative;
}

.track-image {
    width: 80%;
    /* box-shadow: 0 10px 40px rgba(173, 154, 41, 0.582); */
    margin-bottom: 10px;
}

.track p {
    text-align: left;
    padding: 0 35px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 5px;
}

.track-title {
    font-weight: bold;
    font-size: 15px;
}

.track-artist {
    font-size: 15px;
} 

.track-album {
    font-size: 8px;
}

.btn {
    padding: 12px 40px;
    background-color: #37b249;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color:white;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    left: 120px;
    bottom: -20px;
}

/* Responsive Breakpoint */


@media only screen and (min-width: 768px) {
    .track {
        width: 300px;
        padding: 30px 0 40px 0;
    }

    .track-image {
        width: 80%;
    }

    .btn {
        position: absolute;
        left: 80px;
        bottom: -20px;
    }
}
