.track {
    width: 20%;
    padding: 15px 0 70px 0;
    margin: 30px;
    /* background-color: #F1EFE9; */
    background-color: #fff;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
    box-sizing: border-box;
    position: relative;
    transition: .5s ease;
}

.track:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

/* .track:hover .overlay {
    height: 35%;
} */

/* .track:hover p {
    visibility: hidden;
} */

.track:hover .track-image {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.track-image {
    width: 85%;
    margin-bottom: 10px;
    transition: .5s ease;
    
}

.track p {
    text-align: left;
    padding: 0 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 5px;
}

.track-title {
    font-weight: bold;
    font-size: 12px;
}

.track-artist {
    font-size: 12px;
} 

.track-album {
    font-size: 8px;
}

/* .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  } */

.overlay{
    position: absolute;
    top:90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s ease;
}

