.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    z-index: 1000;
    border-radius: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
}

label {
    font-weight: bold;
}

#playlist-title, #playlist-description {
    width: 300px;
    /* padding: 15px 20px; */
    border-radius: 25px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 12px 40px;
    border: 2px solid #535353;
    margin-top: 5px;
    margin-bottom: 15px; 
}