h1 {
  color: rgb(127,103,198);
  margin-left: 22px;
}

.btn {
    padding: 12px 40px;
    background-color: rgb(127,103,198);
    border-radius: 30px;
    border: none;
    cursor: pointer;
    color:white;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    transition: .5s ease;
}

.btn:hover {
  background-color: white;
  border: 3px solid rgb(127,103,198);
  color: rgb(127,103,198);
}