@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(244,250,227);


  
}


