.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3em 4em;
    text-align: center;
    padding: 3em;
}

@media screen and (max-width: 1200px) {
    .container {
        display: grid;
        grid-row-gap: 1em;
        grid-template-columns: 1fr;
    }
}